@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #18161d;
  color: white;
}

.volRed {
  color: red;
}

.rotating {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
